@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <p class="fs-3">Welcome to</p>
    <h1 class="display-2 mb-4 text-uppercase">ProjectFolio</h1>
    <p>A place to store all the <strong>Records of the Projects</strong> created.</p>
</div>
